.pathColor
{
	font-size:30px;
}
.red-active
{
	color:red;
	stroke:red;
}
.green-active
{
	color:green;
	stroke:green;
}
.blue-active
{
	color:#33A1C9;
	stroke:#33A1C9;
}
.purple-active
{
	color:#8A2BE2;
	stroke:#8A2BE2;
}
.black-active
{
	color:black;
	stroke:black;
}

#info
{
	position: fixed;
	top: 10px;
	left: 140px;
}

#pathColorSelector
{
	position: fixed;
	top: 10px;
	left: 380px;
	z-index:20;
}

#state
{
	position: fixed;
	top: 30px;
	left: 380px;
}

#btnReset
{
	position: fixed;
	top: 30px;
	left: 80px;
}

#btnLeft
{
	position: fixed;
	top: 30px;
	left: 30px;
}

#btnRight
{
	position: fixed;
	top: 30px;
	left: 50px;
}

#btnUp
{
	position: fixed;
	top: 10px;
	left: 40px;
}

#btnDown
{
	position: fixed;
	top: 50px;	
	left: 40px;
}

#svg1
{
	position: relative;
	top: 120px;
	left: 20px;
	background-color: #ddd;
}

#svg1 path
{
	cursor:pointer;
}