body
{
	padding-top: 90px;
}

#navbar_form
{
	margin: 0px;
}

.pathColor
{
	font-size:30px;
}
.red-active
{
	color:red;
	stroke:red;
}
.green-active
{
	color:green;
	stroke:green;
}
.blue-active
{
	color:#33A1C9;
	stroke:#33A1C9;
}
.purple-active
{
	color:#8A2BE2;
	stroke:#8A2BE2;
}
.black-active
{
	color:black;
	stroke:black;
}

#svg1
{
	background-color: #ddd;
}

#svg1 path
{
	cursor:pointer;
	opacity: 0.5;
}