.yellow-active
{
	stroke:yellow;
}
.blue-active
{
	stroke:blue;
}
.green-active
{
	stroke:green;
}
.black-active
{
	stroke:black;
}
.over
{
	stroke:red;
}

#state1
{
	position: fixed;
	top: 10px;
	left: 140px;
}

#pathColorSelector
{
	position: fixed;
	top: 80px;
	left: 380px;
	z-index:20;
}

#btnReset
{
	position: fixed;
	top: 30px;
	left: 80px;
}

#btnLeft
{
	position: fixed;
	top: 30px;
	left: 30px;
}

#btnRight
{
	position: fixed;
	top: 30px;
	left: 50px;
}

#btnUp
{
	position: fixed;
	top: 10px;
	left: 40px;
}

#btnDown
{
	position: fixed;
	top: 50px;	
	left: 40px;
}

#state
{
	position: fixed;
	top: 10px;
	left: 450px;
}

#svg1
{
	position: fixed;
	top: 80px;
	left: 20px;
	background-color: #ddd;
}

#svg1 path
{
	cursor:pointer;
}